{% extends 'base.html.twig' %}

{% block title %}login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{error.messageKey|trans(error.messageData, 'security')}}</div>
    {% endif %}

    <a href="{{path('registro_usuario')}}">Registrese</a>
    <br>
    <form action="{{path('mostrar_un_articulo')}}" method="post">
        <label for="username">Nombre de Usuario: </label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Contraseña: </label>
        <input type="password" id="password" name="_password" />

        <button type="submit">Entrar</button>
    </form>
{% endblock %}
